{% extends 'main/base.html' %}




{% block title %}
    Projects
{% endblock title %}
    


{% block content %}
    <div class="container mt-5">
        {% for project in projects  %}
                <div class="col-12 mb-4 card-subtitle text-white">
                    <div class="row">
                        
                        <div class="col-md-4">
                            {% if project.video %}
                                <video muted autoplay loop src="{{ project.video.url }}" class="img-fluid"></video>
                            {% elif project.image %}
                                <img src="{{ project.image.url }}" alt="{{ project.title }}" class="img-fluid">
                            {% else %}
                                <p>No media available</p>
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                            <h2>{{ project.title }}</h2>
                            <p class="text-start"><strong>Category:</strong> {{ project.get_category_display }}</p>
                            <p class="text-start text-white"><strong>Completed Date:</strong> {{ project.completed_date }}</p>
                            
                            <p class="text-start text-white"><strong>Technologies:</strong> {{ project.technologies }}</p>
                            <div class="d-flex gap-3">
                                <a href="{{ project.link }}" target="_blank" class="btn bg-secondary ">Project Link</a>
                                <a href="{% url 'projects:project_detail_view' project.id %}" class="btn bg-secondary "> View Project</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="d-flex justify-content-center mt-4">
                <nav aria-label="Page navigation">
                    
                    <ul class="pagination">

                        {% if projects.has_previous %}
                        <li class="page-item">
                            <a class="page-link text-decoration-underline  text-dark" href="?page=1">
                                First
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link  text-dark" href="?page={{ projects.previous_page_number }}">
                                Previous
                            </a>
                        </li>
                        {% endif %}
        
                        <li class="page-item disabled">
                            <span class="page-link">Page {{ projects.number }} of {{ projects.paginator.num_pages }}</span>
                        </li>
        
                        {% if projects.has_next %}
                        <li class="page-item">
                            <a class="page-link  text-dark" href="?page={{ projects.next_page_number }}">
                                Next
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link text-decoration-underline  text-dark" href="?page={{ projects.paginator.num_pages }}">
                                Last
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
    </div>
{% endblock content %}
    