{% extends 'main/base.html' %}


{% block title %}
    About me
{% endblock title %}
    

{% block content %}
    <div class="container text-white mt-5 d-flex flex-column gap-3">
        <h1 class="text-center">About me</h1>
        <p class="lead  animate__animated animate__fadeInLeft  ">
            Hi, I'm Ali Khalid, a computer science graduate with a passion for full-stack development. I recently graduated with a Bachelor's degree in Computer Science, where I developed a strong foundation in coding and problem-solving. During my studies, I focused on web development and machine learning.
        </p>
        <p class="lead  animate__animated animate__fadeInLeft animate__delay-1s">
            Currently, I'm on an exciting journey to become a full-stack developer, constantly learning and building my skills.
        </p>
        <div class="bg-dark p-4 rounded  animate__animated animate__fadeInLeft animate__delay-1s">
            <h2 class="text-center my-3">Skills</h2>
            <div class="row text-center">
                <div class="col-md-4 mb-3">
                    <h4>Programming Languages</h4>
                    <p>Python, Java, JavaScript</p>
                </div>
                <div class="col-md-4 mb-3">
                    <h4>Web Development</h4>
                    <p>HTML, CSS, SQL</p>
                </div>
                <div class="col-md-4 mb-3">
                    <h4>Tools & Frameworks</h4>
                    <p>Git, PyTorch, Django</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6 mb-3">
                    <h4>Soft Skills</h4>
                    <p>Problem-solving, Teamwork, Adaptability</p>
                </div>
                <div class="col-md-6 mb-3">
                    <h4>Currently Learning</h4>
                    <p>tailwind CSS, JavaScript, bootstrap CSS</p>
                </div>
            </div>
        </div>
        <p class="lead animate__animated animate__fadeInLeft animate__delay-2s">
            My goal is to continue expanding my knowledge in full-stack development, working on projects that challenge me and contribute to meaningful solutions. I'm eager to collaborate with others, contribute to open-source projects, and eventually pursue a career in software engineering.
        </p>
        <p class="lead animate__animated animate__fadeInLeft animate__delay-2s">
            When I'm not coding,I enjoy playing video games, especially FPS titles, and watching movies and series. Beyond that, I have a strong love for learning new things and thrive in competitive environments that push me to grow.
        </p>
{% endblock content %}
    