{% extends 'main/base.html' %}




{% block title %}
    DashBoard
{% endblock title %}
    

{% block content %}
    <div class="container-fluid p-0 " >
        
        <div class="row">
            <div  class="col-12 col-md-4 col-lg-3">
                <div class="d-flex flex-column gap-2  text-bg-dark align-items-center" style="width: 280px;">
                    <a href="{% url 'dashboard:dashboard_view' %}" class="btn">
                      <h1>DashBoard</h1>
                      <hr>
                    </a>
                    <div class="d-flex flex-column gap-5">
                      <form method="POST" action="{% url 'dashboard:dashboard_view' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-dark nav-link text-white" name="section" value="projects"><h1>Projects</h1></button>
                    </form>
                  
                
                    <form method="POST" action="{% url 'dashboard:dashboard_view' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-dark nav-link text-white mt-5" name="section" value="messages"><h1>Messages</h1></button>
                    </form>

                    </div>
                       
                   
                  
                  </div>
            </div>

            <div class="col-12 col-md-8 col-lg-9">
              
              {% if section == "projects" %}
                  <div class="table-responsive mt-3">
                    <div class="d-flex align-items-center justify-content-end gap-2 mb-3 me-4">
                        <a href="{% url 'projects:new_project_view' %}" class="btn btn-primary">+Add New Project</a>
                        <form method="GET" action="{% url 'dashboard:dashboard_view' %}" class="d-flex">
                            <input type="text" name="search" class="form-control me-2" placeholder="Search projects..." aria-label="Search" value="{{ request.GET.search }}">
                            <button type="submit" class="btn btn-outline-light">Search</button>
                        </form>
                    </div>
                    <table class="table table-striped table-dark">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Video</th>
                                <th>Title</th>
                                <th>Technologies</th>
                                <th>Completed Date</th>
                                <th>Project Link</th>
                                <th>Category</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for project in display %}
                            <tr>
                                <td>
                                    {% if project.image %}
                                        <img src="{{ project.image.url }}" alt="{{ project.title }}" style="width: 100px;">
                                    {% else %}
                                        No image
                                    {% endif %}
                                </td>
                                <td>
                                    {% if project.video %}
                                        <video muted autoplay loop src="{{ project.video.url }}" style="width: 100px;"></video>
                                    {% else %}
                                        No video
                                    {% endif %}
                                </td>
                                <td>{{ project.title }}</td>
                                <td>{{ project.technologies }}</td>
                                <td>{{ project.completed_date }}</td>
                                <td><a href="{{ project.link }}" target="_blank">link</a></td>
                                <td>{{ project.category }}</td>
                                <td>
                                    <a href="{% url 'projects:project_detail_view' project.id %}" class="btn btn-sm text-white" title="View"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                      <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                                      <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                                    </svg></a>
                                    <a href="{% url 'projects:update_project_view' project.id %}" class="btn btn-sm text-white" title="Update"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                      <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                                    </svg></a>
                                    <a href="{% url 'projects:delete_project_view' project.id %}" class="btn btn-sm text-white" title="Delete"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                      <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                    </svg></a>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="8" class="text-center">No projects found</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
              {% elif  section == 'messages' %}
              <div class="container text-white d-flex flex-column gap-3">
                <h1 class="text-center">Messages from Users</h1>
                <div class="row mt-2 d-flex justify-content-start ">   
                    {% for message in display  %}
                    <div class="col-md-4 mt-2"> 
                        <div class="card" style="width: 20rem;">
                            <div class="card-body">
                            <h5 class="card-title d-flex flex-column gap-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                            </svg> <p>{{message.first_name}} {{message.last_name}}</p>
                            <a href="mailto:{{message.email}}" class="text-decoration-none text-black">{{message.email}}</a>
                            </h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary mt-3">{{message.message}}</h6>
                            </div>
                        </div>
                    </div>
                        {% empty %}
                        <h1>No messages found</h1>

                        {% endfor %}
                    
                </div>
        
            </div>
                
              {% endif %}

                
              
            </div>
        
        </body>
        </html>
            </div>
        </div>
        
    </div>
    
{% endblock content %}
    